<div class="users-edit">
  <div class="form users-form">
    <div class="form-header">アカウント編集</div>
    <div class="form-body">
      <% @current_user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag '/update_profile' do %>
        <h2>名前</h2>
        <input name="name" value="<%= @current_user.name %>">
        <h2>メールアドレス</h2>
        <input name="email" value="<%= @current_user.email %>">
        <input type="submit" value="保存">
      <% end %>
    </div>
  </div>
</div>
