<div class="user-show">
  <div class="user">
    <h2>ユーザー名</h2>
    <p><%= @user.name %></p>
    <h2>メールアドレス</h2>
    <p><%= @user.email %></p>
    <% if @user.id == @current_user.id %>
      <a href="/edit_profile">プロフィールの編集</a>
      <a href="/edit_password">パスワードの変更</a>
    <% end %>
  </div>
</div>
