<header>
  <div class="header-logo">
    <a href="/"><img src="/images/wanko_icon.svg"></a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">ABOUT</a></li>
  </ul>
</header>

<div class="top-main">
  <div class="top-message">
    <h2>今していることをつぶやこう</h2>
  </div>
</div>
