/* 共通レイアウト ================================ */
* {
  box-sizing: content-box;
}
body {
  color: #364a4d;
  background-color: #f5f8fa;
  margin: 0;
  min-height: 1vh;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #292f33;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.heading {
  display: inline-block;
}

.fa {
  margin-right: 7px;
}

/* フォント
================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
}

p {
  line-height: 1.7em;
}

/* ヘッダー ================================ */
header {
  padding: 0 30px;
  background-color: #3787cc;
  box-shadow: 0 1px 3px rgba(160,166,179,0.3);
  height: 75px;
}

header a {
  color: white;
}

.header-logo {
  float: left;
}

.header-logo img {
  padding-top: 18px;
  height: 40px;
}

.header-menus {
  float: right;
}

.header-menus li {
  float: left;
}

.header-menus a {
  padding: 0 20px;
  float: left;
  line-height: 75px;
}

.header-menus input[type="submit"] {
  background-color: white;
  padding: 0 20px;
  float: left;
  line-height: 75px;
  color: gray;
  margin: 0;
  font-size: 15px;
}

/* フラッシュ ================================ */
.flash {
  padding: 20px;
  color: white;
  background: #3fb967;
  text-align: center;
}


/* ボタン ================================ */
.btn {
  padding: 10px 26px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn-large {
  padding: 6px 140px;
  font-size: 18px;
}

/* 「保存」ボタン */
.primary-btn {
  background-color: #239b76;
}

.primary-btn:hover {
  background-color: #28b086;
}

/*　「新規登録」と「編集」ボタン　*/
.signup-btn {
  color: #582a12;
  background-color: white;
  margin-top:30px;
  width: 150px;
}

.login-btn {
  color: #582a12;
  background-color: white;
  width: 150px;
}

/*　「戻る」ボタン　*/
.destroy-btn {
  background-color: #1f89e2;
}

.destroy-btn:hover {
  background-color: #3695e5;
  color: white;
  text-decoration: none;
}

/* フォーム================================ */
input, textarea, select {
  border: 1px solid #bbb;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 3px;
  padding: 10px;
}

.form-header {
  color: white;
  background: #060629;
  padding: 20px;
  text-align: center;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form-body {
  padding: 50px;
  background: white;
  box-shadow: 1px 5px 20px 0px rgba(128, 128, 128, 0.34)
}

.form-error {
  color: indianred;
}

.form input {
  width: 100%;
  font-size: 1.2em;
}

.form textarea {
  width: 100%;
  height: 200px;
  font-size: 1.2em;
}

.form input[type="submit"] {
  background-color: rgba(195, 65, 143, 0.8);
  color: white;
  cursor: pointer;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
}


/*　エラーメッセージ　*/
.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 40px;
  padding-left: 15px;
  font-size: small;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

.alert-danger ul li {
  list-style-type: disc;
 }
